*{
  box-sizing: border-box;
}

body, #root{
  width: 100%;
  height: 100vh;
}

.home{
  background: linear-gradient(180deg, #12122e 0%, #272764 100%);
  line-height: 38px;
  font-weight: 600;
  font-size: 1.125rem;
  color: #ffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


a{
  color: #ffff;
  text-decoration: none;
}

.header-container {
  display: flex;
  width: 100%;
  padding: 20px 40px;

}

.header-container .menu {
  display: flex;
  justify-content: center;
  flex: 1;
}

.menu .menu-links a {
  margin: 12px;
  color: #ffff;
  text-decoration: none;
}


button{
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}

button.primary {
  color: white;
  background: linear-gradient(to right, #FFEB3B, #F48FB1, #9C27B0);
}